{% extends 'index.html' %}

{% block title %}| Tentang Saya {% endblock %}

{%block body %}

<div class="data">
	{% comment %} <h3 class="m0">Tentang Saya</h3> {% endcomment %}

	<p class="mt10" style="line-height: 25px">
		Saya adalah mahasiswa Pendidikan Ilmu Komputer yang tengah menyelesaikan
		pendidikan dengan pengalaman kerja selama 4 tahun sebagai Web Developer, dan
		UI/UX Designer. Dengan latar belakang teknis yang kuat dan fokus pada
		detail, saya berkomitmen untuk menghasilkan pekerjaan berkualitas tinggi.
		Sifat perfeksionis saya mendorong saya untuk mencapai hasil terbaik,
		meskipun seringkali memerlukan waktu lebih untuk memastikan setiap detail
		terpenuhi.
	</p>
</div>

{% endblock %}
