{% extends 'index.html' %} 

{% block title %}| Pendidikan {% endblock %}

{% block body %}

<div class="data">
  {% comment %} <h3 class="m0">Riwayat Pendidikan</h3> {% endcomment %}

  <ul>
    <li>
      <h4 style="margin: 0">Universitas Pendidikan Indonesia</h4>
      <p class="mt10">Program Studi Pendidikan Ilmu Komputer</p>
      <p class="mt20">2023 - Sekarang</p>
    </li>
    <li class="mt30">
      <h4 style="margin: 0">SMK Negeri 1 Katapang</h4>
      <p class="mt10">Jurusan Rekayasa Perangkat Lunak</p>
      <p class="mt20">2018 - 2021</p>
    </li>
  </ul>
</div>

{% endblock %}
