{% extends 'index.html' %} 

{% block title %}| Pekerjaan {% endblock %}

{% block body %}

<div class="data">
  {% comment %} <h3>Riwayat Pekerjaan</h3> {% endcomment %}

  <ul>
    <li>
      <h4 class="link m0">
        <a href="https://abaa.co.id"
          >PT. Anak Bangsa Berkarya Berinovasi (Abaa)</a
        >
      </h4>
      <p class="mt10">UI/UX Designer</p>
      <p class="mt20">Mei 2024 - Sekarang</p>
    </li>
    <li class="mt30">
      <h4 style="margin: 0">PT. Inovasi Putra Nusantara</h4>
      <p class="mt10">Junior Front-end Developer</p>
      <p class="mt20">Agustus 2020 - November 2023</p>
    </li>
    <li class="mt30">
      <h4 style="margin: 0">PT. Inovasi Putra Nusantara</h4>
      <p class="mt10">Web Developer (Internship)</p>
      <p class="mt20">Oktober 2019 - Januari 2020</p>
    </li>
  </ul>
</div>
</div>

{% endblock %}
